<div><p class="h2 text-center">Visitanos y conoce nuestras instalaciones.</p></div>
<br>

<div class="container">
        <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="embed-responsive embed-responsive-16by9"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.6587844108826!2d-99.03964538537181!3d19.4271434868874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fc9837e07667%3A0xffe2cddb2f404c0!2sAv+Riva+Palacio+178%2C+El+Sol%2C+57200+Nezahualc%C3%B3yotl%2C+M%C3%A9x.!5e0!3m2!1sen!2smx!4v1531848601913" class="embed-responsive-item" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
                <div class="col-sm-1"></div>
            </div>
</div>

<hr>
<br>

<div class="container">

  <p class="h2 text-center">MISIÓN, VISIÓN, OBJETIVOS Y VALORES.</p>
     
  </div>


  <div class="container">
        <div class="row">

                <div class="col-sm-4">
                    <p class="text-center"><img src="assets/imgs/Mision.png" width="25%" height="25%" alt="mision_image" class="rounded-circle"></p>
                    <div><p class="text-center h3">MISIÓN</p></div>
                    <div><p class="text-center">En el Liceo Mexicano de Actualización Profesional, LICEMAP, estamos decididos a actualizar en el ejercicio profesional a todas las personas que se desempeñan en una actividad laboral o que están próximos a ejercer una profesión, atendiendo su desarrollo personal, social y profesional, de manera que estén actualizados en el ejercicio profesional de acuerdo a los cambios que exige nuestra nación.</p></div>
                </div>
                <div class="col-sm-4">
                        <p class="text-center"><img src="assets/imgs/Vision.jpg" width="25%" height="25%" alt="vision_image" class="rounded-circle border-success"></p>
                    <div><p class="text-center h3">VISIÓN</p></div>
                    <div><p class="text-center">Consolidarnos en el mediano plazo como la mejor oferta de actualización en el mercado laboral que requieren las empresas o en la actividad individual o de grupo de tipo profesional, entendiendo por actividad profesional aquella práctica cotidiana que el ser humano elige como forma de vida y de obtención de satisfactores y que requieren conocimientos actualizados de acuerdo a los cambios que se generan en el mundo.</p></div>
                </div>
                <div class="col-sm-4">
                        <p class="text-center"><img src="assets/imgs/Objetivos.jpg" width="25%" height="25%" alt="objective_image" class="rounded-circle border-success"></p>
                    <div><p class="text-center h3">OBJETIVOS</p></div>
                    <div>      
                            <p class="text-center">Realizar e impulsar la actualización en el ejercicio profesional en el campo de las áreas sociales.</p>
                                <p class="text-center">Contribuir a la actualización profesional de todas aquellas personas que desempeñan una actividad laboral o productiva.</p>
                                <p class="text-center">Organizar y promover actividades para la actualización profesional de acuerdo al campo laboral que existe en nuestra nación.</p>
                                <p class="text-center">Difundir en la sociedad que estamos en un mundo de constantes cambios y que esto requiere que cada persona se actualice en el ejercicio de su profesión.</p>
                        
                    </div>
                </div>
            
              </div>
  </div>
  
  <br>